@model StringCounterDemo.Models.StringsInfo

<style>

    .container-top {
        display: flex;
    }

        .container-top > div {
            flex: 1; /*grow*/
        }

    .container-bottom {
        display: flex;
    }

    .container-bottom > div {
        flex: 1; /*grow*/
    }

</style>

<h3>Strings Details</h3>


        <div class="container-top">
            <div class="text-center"><label class="col-md-4 control-label" style="padding-right: 10px;" for="InputStrings">Input Strings</label></div>
            <div class="text-center"><label class="col-md-4 control-label" style="padding-right: 10px;" for="OutputStrings">Output Strings</label></div>
        </div>

        <div class="container-bottom">
            <div align="center"><textarea class="span2" id="InputStrings" style="margin: 0px; width: 300px; height: 180px; padding-left: 10px; align-content: center" rows="2" readonly>@Model.InputStringResult</textarea></div>
            <div align="center"><textarea class="span4" id="OutputStrings" style="margin: 0px; width: 300px; height: 180px; padding-left: 10px align-content: center;" rows="2" readonly>@Model.OutputStringResult</textarea></div>
        </div>
