@page
@{
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<div class="row">
  <div class="col-md-12">
     <div id="ViewContainers" class="col-md-12">
        @await Component.InvokeAsync("TimeSlot", new { Typeof = "timeslotbooking" })
      </div>
  </div>
</div>

<script>

    $(document).ready(function () {

    });

</script>