@model ADASSESSMENT.Models.EngineerInfo

<style>

    .container-top {
        display: flex;
    }

        .container-top > div {
            flex: 1; /*grow*/
        }

    .container-bottom {
        display: flex;
    }

    .container-bottom > div {
        flex: 1; /*grow*/
    }

</style>

<h3>Engineer Details</h3>


        <div class="container-top">
            <div class="text-center"><label class="col-md-4 control-label" style="padding-right: 10px;" for="EngineerAddress">Engineer Address</label></div>
            <div class="text-center"><label class="col-md-4 control-label" style="padding-right: 10px;" for="BookedSlot">Booked Time Slot</label></div>
            <div class="text-center"><label class="col-md-4 control-label" style="padding-right: 10px;" for="SelectedJob">Job Category Selected</label></div>
        </div>

        <div class="container-bottom">
    <div align="center"><textarea class="span2" id="EngineerAddress" style="margin: 0px; width: 300px; height: 180px; padding-left: 10px; align-content: center" rows="3" readonly>@Model.EngineerAddress</textarea></div>
    <div align="center"><textarea class="span4" id="BookedSlot" style="margin: 0px; width: 300px; height: 180px; padding-left: 10px align-content: center;" rows="3" readonly>@Model.BookedSlot</textarea></div>
    <div align="center"><textarea class="span6" id="SelectedJob" style="margin: 0px; width: 300px; height: 180px; padding-left: 10px align-content: center" rows="3" readonly>@Model.SelectedJob</textarea></div>
        </div>
