@{
    ViewData["Title"] = "String Counter Demo";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" type='text/css'/>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        /* Create four equal columns that floats next to each other */
        .topcolumn {
            float: left;
            width: 25%;
            padding: 10px;
            height: 275px; /* Should be removed. Only for demonstration */
            align-content: center;
        }

        /* Clear floats after the columns */
        .toprow:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>

    <h2>String Counter Demo</h2>

    <br />

    <div class="slider">
        <div class="col-sm">
            <div class="form-group">
                <div id="HeaderStringLookup" class="pb-2 pl-0">
                    <div style="border-color:dimgrey;border-style:solid;border-width:thin" class="shadow">
                        <div id="UnloadedSlideStringLookup" class="headerstringlookup" style="cursor:pointer;background-color:#f9fdfd">
                            <span><label class="mt-2 ml-2">String Counter Demo Lookup</label><i id="updownunloadedstringlookup" class="fa fa-chevron-down mr-1 small mt-2" aria-hidden="true" style="float:right;text-align:center;vertical-align:bottom"></i></span>
                        </div>
                        <div id="GetStringLookup" class="content mt-1 mr-1" style="display:none">
                            <div class="pl-1">
                                <br />
                                <div id="StringLookup" class="form-group pb-2">
                                    @*@await Component.InvokeAsync("", new { Typeof = "" })*@
                                </div>
                                <br />
                                <div id="loadingstr" class="container pb-2" style="display:none">

                                    <div class="spinner-border text-info"></div>
                                    <span class="visually-hidden">Loading SQL Lite data...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<footer class="border-top footer text-muted top-50">
    <div class="container">
        &copy; 2023 - StringCounterDemo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

</html>


<script>

    $(document).ready(function () {

        $(".headerstringlookup").click(function () {

            $header = $(this);
            var currelem = this.id;
            var upd = "";
            switch (currelem) {
                case 'UnloadedSlideStringLookup':
                    upd = "updownunloadedstringlookup"
                    break;
            }

            //getting the next element
            $content = $header.next();
            //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
            $content.slideToggle(500, function () {
                //execute this after slideToggle is done
                //change text of header based on visibility of content div
                $header.text(function () {
                    //change text based on condition
                    if ($content.is(":visible")) {

                        document.getElementById("loadingstr").style.display = "block";

                        GetStringLookup();

                        var element = document.getElementById(upd);
                        element.classList.remove("fa-chevron-down");
                        element.classList.add("fa-chevron-up");
                    }
                    else {
                        var element = document.getElementById(upd);
                        element.classList.remove("fa-chevron-up");
                        element.classList.add("fa-chevron-down");
                    }
                });
            });

        });
    });

    function GetStringLookup() {

        $.ajax({
            type: "Get",
            url: '@Url.Action("GetViewStrings", "Strings")',
            data: {

            },
            success: function (data) {

                $('#StringLookup').html(data);
                document.getElementById("loadingstr").style.display = "none";
            }
        });
    };

</script>



