@model ADASSESSMENT.Models.Engineer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Engineer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VRN" class="control-label"></label>
                <input asp-for="VRN" class="form-control" />
                <span asp-validation-for="VRN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineerId" class="control-label"></label>
                <input asp-for="EngineerId" class="form-control" />
                <span asp-validation-for="EngineerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressId" class="control-label"></label>
                <input asp-for="AddressId" class="form-control" />
                <span asp-validation-for="AddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSlotId" class="control-label"></label>
                <input asp-for="TimeSlotId" class="form-control" />
                <span asp-validation-for="TimeSlotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobCategoryId" class="control-label"></label>
                <input asp-for="JobCategoryId" class="form-control" />
                <span asp-validation-for="JobCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineerAddress" class="control-label"></label>
                <input asp-for="EngineerAddress" class="form-control" />
                <span asp-validation-for="EngineerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookedSlot" class="control-label"></label>
                <input asp-for="BookedSlot" class="form-control" />
                <span asp-validation-for="BookedSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedJob" class="control-label"></label>
                <input asp-for="SelectedJob" class="form-control" />
                <span asp-validation-for="SelectedJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
